@import '../../assets/variables';

.chat__users {
  margin-top: 35px;
  padding-left: 10px;
  .chat__no-dialogs {
    text-align: center;
    color: $font-grey;
  }
}

@media (max-width: 426px) {
  .chat__users {
    padding-left: 5px;
    padding-right: 5px;
  }
}
