@import '../../assets/variables';

.button {
  border: none;
  outline: none;
  background-color: $blue;
  padding: 5px 15px;
  color: #fff;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  &:hover:not([disabled]) {
    background-color: lighten($blue, 5%);
  }
  &[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
